# Dependências
node_modules/
package-lock.json

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Ambiente
.env
.env.local

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Backup
backup/

# Build
dist/
